.contact {

	margin: 0;
	min-height: 100vh;
	position: relative;
	background-color: $black-color;
	opacity: .9;

	&__icon {

		padding-top: 60px;
		position: absolute;
		z-index: 11;
		text-align: center;
		left: 45%;
	}

	&__form {
		z-index: 11;
		@include centered;
		padding-top: 100px;
	}

	&__content {
		background-color: $footer-color;
		opacity: .2;
		border: none;
		font-style: italic;
		padding: 20px;
		margin-bottom: 30px;

	}

	&__name{
		

	}


	&__button {
		position: absolute;
		z-index: 11;
		text-transform: uppercase;
		font-weight: bold;
		color: $white-color;
		bottom: 0;
		margin-bottom: 50px;
		left: 45%;
		width: 200px;
		height: 50px;
		background-color: $footer-color;
		cursor: pointer;


	}


#user {
	width: 430px;
}




	#map {
		width: 100%;
		min-height: 100vh;
		max-height: 100%;

	}

	#directionsPanel {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 1rem 0;
	}

}