.first-screen {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url($img-path + "first-bg.png") no-repeat;
	background-color: $bg-color;
	opacity: .9;
	padding-top: 60px;
	background-size: cover;



	.navigation {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 0;
		padding-left: 0;

		& > .container {
			padding-left: 0;
			padding-right: 0;
		}



		&__list {
			display: flex;
			align-items: flex-end !important;
			justify-content: space-between;
			flex: 100%;
			transform: translateX(100%);

			
		}

		&__link {
			text-transform: uppercase;
			font-weight: bold;
			font-size: rem(20px);
			padding-right: 15px;
			padding-left: 15px

		}
	}

	&__content {
		padding-top: 200px;


		@include max575 {
		text-align: center;
	}
	}

	&__title > h1 {
		font-size: rem(50px);
		font-weight: bold;
		text-transform: uppercase;
		font-family: $title-font;


		@include max991 {

			text-align: center;
		}
	}

	&__text {
		font-size: rem(30px);
		font-family: $text-font;
		font-style: italic;
		text-align: center;
		opacity: .9;

	}


	
}


.navigation {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 0;
		padding-left: 0;
		position: fixed;

		& > .container {
			padding-left: 0;
			padding-right: 0;
		}

		&.fixed-top {
			background-color: rgba(black, .5);

			& > .container {
				padding-left: 15px;
				padding-right: 15px;
			}

			.navigation__close {
				top: 1.8%!important;
			}
		}


  .nav-link{
  	$hover-color: #5C627D;
  	&:hover {
  		color: $hover-color;
  		text-shadow: 1px 1px 2px black, 0 0 1em white; 
    
  	}
  }
}

.navbar-collapse {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		min-width: 50%;
		background-color: $black-color;
		transition: transform .4s ease;
		transform: translateX(100%);
		@include z-index(navbar);

		@include min768 {
			min-width: 25%;
		}

		@include min992 {
			position: initial;
			transform: translateY(0);
			background-color: initial;
		}
	}

	.navbar-toggler {

		color: $white-color;

	@include max767 {
		width: 100%;
	}



	&-icon {}
}


.logo {
	@include max575 {
		padding-left: 100px;
	}
}
