$img-path: '../img/';



$white-color: #ffffff;
$black-color: #000000;
$bg-color: #54556F;
$text-color: #665F60;
$content-color: #6B6465;
$services-text: #9D9BA9;
$bg-1: #DBDBDB;
$bg-3: #C2BFDA;

$team-color: #EBEBEB;


$main-font: 'Montserrat', sans-serif;
$title-font:'Open Sans', sans-serif;
$text-font: 'PT Sans', sans-serif;


$base-size: 16px;


$big_width: 70%;            //Slider width - large display
$big_height: 30%;       //Slider height - large display
$big_nav_width: 12%;    // Previous and Next width - large display

$small_width: 100%;     //Slider width - small display
$small_height: 55%;     //Slider height - small display
$small_nav_width: 15%;// Previous and Next width - small display

$brown: #795548;
$blue: #2196F3;
$green: #4CAF50;
$magenta: #F44336;
$nav_hover_color: #CDCDCD;


$slider-length: 3;
$radioBtn-size: 12px;
$btn-color: #ccc;
$active-color: #333;